* {
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
}

.transparente {
    background-color: #7F0F0B;
    box-shadow: rgb(255, 255, 255) 1px 5px 25px;
    border-radius: 6px;
}


/* el body tenia un gradiente pero cuando ponia el media no cambia de colo asi que lo saque por ahora*/

body {
    background-color: #1F262A;
    color: rgb(255, 255, 255);
    font-size: 16px;
    line-height: 1.6;
    font-family: 'Rubik', sans-serif;
    font-family: 'Source Sans Pro', sans-serif;
}

.contenerdor {
    background-color: rgb(59, 57, 57);
    width: 75%;
    margin: auto;
    padding: auto;
}

.mediofase1 {
    background-color: rgb(59, 57, 57);
    width: 75%;
    margin: auto;
    padding: auto;
    position: relative;
    right: 10%;
}

aside {
    width: 19%;
    background-color: rgb(59, 57, 57);
    float: right;
    padding: 15px;
    position: relative;
    right: 3%;
    bottom: auto;
    margin-right: 5px;
}

.imgaside {
    box-shadow: black 1px 5px 25px;
    border-radius: 6px;
}

.medio {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, 1fr);
    gap: .5px;
}

.medioindex {
    width: 80%;
    position: relative;
    left: 10%;
}

h1 {
    font-family: 'Oswald', sans-serif;
    font-family: 'Raleway', sans-serif;
    color: rgb(250, 246, 246);
    text-align: center;
    background-color: #7F0F0B;
}

h2 {
    font-family: 'Oswald', sans-serif;
    color: whitesmoke;
}

h4 {
    font-family: 'Source Sans Pro', sans-serif;
}

hr {
    color: black;
    border: solid 2px;
}

.imgfase1 {
    border-radius: 6px;
    position: relative;
    left: 25%;
    margin-top: 15px;
}

.img {
    transition: all 2s ease;
    border: solid #7F0F0B 3px;
}

.img:hover {
    transform: scale(1.1, 1.1);
}

footer {
    background-color: rgba(0, 0, 0, 0.705);
    text-align: center;
    box-shadow: rgb(255, 255, 255) 1px 5px 25px;
    display: flex;
    background-color: #7F0F0B;
}

footer li {
    display: inline-block;
    justify-content: space-around;
}

.redes li {
    display: inline-block;
}


/*pagina ironman*/

.ironmanPagina2 img {
    font-size: 16px;
    line-height: 1.7;
    margin-right: 5px;
    margin-left: 4px;
    box-shadow: black 1px 5px 25px;
    border-radius: 6px;
    float: left;
}

.repartoIron {
    width: 60%;
    height: 40%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(1, 2fr);
    gap: 20px;
    position: relative;
    left: 5%;
}

.multimedia {
    width: 80%;
    position: relative;
    left: 20px;
}

.imgsinopsis {
    position: relative;
    bottom: 100px;
}


/*barra de navegacion*/

@media screen and (max-width: 1200px) {
    nav {
        background-color: rgba(0, 0, 0, 0.705);
        text-align: center;
        box-shadow: rgba(231, 9, 9, 0) 1px 5px 25px;
        width: 100%;
    }
    .menu {
        background-color: rgba(0, 0, 0, 0);
        font-size: 20px;
        font-family: 'Oswald', sans-serif;
        flex-direction: column;
    }
    .menu li {
        text-align: center;
    }
    .menu li a {
        text-decoration: none;
        color: rgb(255, 255, 255);
    }
    .menu li a:hover {
        color: rgb(255, 255, 255);
        background-color: rgba(247, 8, 8, 0);
        border-radius: 60%;
        border: rgba(224, 0, 0, 0) solid;
        box-shadow: rgba(255, 255, 255, 0) 1px 5px 25px;
    }
}


/*main*/

@media screen and (max-width: 1200px) {
    .contenerdor {
        background-color: rgba(44, 44, 44, 0.651);
        width: 50%;
        margin: auto;
        padding: auto;
        box-shadow: rgba(255, 0, 0, 0) 1px 5px 25px;
        border-radius: 6px;
    }
}

@media screen and (max-width: 1200px) {
    .medio {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6, 1fr);
    }
}


/*imagenes de la fase 1*/

@media screen and (max-width: 1200px) {
    .imgfase1 {
        border-radius: 6px;
        position: relative;
        left: 30%;
        margin-top: 15px;
    }
}


/*multimedia*/


/*footer*/

@media screen and (max-width: 1200px) {
    footer {
        background-color: #7F0F0B;
        text-align: center;
        box-shadow: rgba(255, 0, 0, 0) 1px 5px 25px;
        padding: 15px;
    }
}