* {
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
}

nav {
    background-color: rgba(0, 0, 0, 0.705);
    text-align: center;
    box-shadow: rgb(255, 255, 255) 1px 5px 25px;
}

.menu {
    background-color: rgba(0, 0, 0, 0);
    font-size: 20px;
    display: flex;
    flex-direction: flex-row;
    justify-content: flex-end;
    justify-content: space-around;
    font-family: 'Oswald', sans-serif;
}

.menu li {
    display: inline-block;
    text-align: center;
}

.menu li a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.menu li a:hover {
    color: rgb(252, 252, 252);
    background-color: rgba(247, 8, 8, 0);
    border: rgba(224, 0, 0, 0) solid;
    background-color: rgba(205, 134, 63, 0);
    border-radius: 60%;
    box-shadow: rgba(255, 255, 255, 0) 1px 5px 25px
}


/* el body tenia un gradiente pero cuando ponia el media no cambia de colo asi que lo saque por ahora*/

body {
    background-image: linear-gradient( to bottom, #C4A8FF, #664EAE, #1A0554, #0C0B13);
    color: rgb(255, 255, 255);
    font-size: 18px;
    line-height: 1.6;
    font-family: 'Rubik', sans-serif;
    font-family: 'Source Sans Pro', sans-serif;
}

.medioFondo {
    background-color: rgba(0, 0, 0, 0.705);
    width: 85%;
    margin: auto;
    padding: auto;
    box-shadow: rgb(255, 255, 255) 1px 5px 25px;
    border-radius: 6px;
}

.medio {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(2, 1fr);
    gap: 10px;
}

h1 {
    font-family: 'Oswald', sans-serif;
    font-family: 'Raleway', sans-serif;
    color: whitesmoke;
}

h2 {
    font-family: 'Oswald', sans-serif;
    color: whitesmoke;
}

.ironman {
    border-radius: 6px;
    position: relative;
    left: 25%;
    margin-top: 15px;
}

.img {
    transition: all 2s ease;
    border: solid #34495E 3px;
}

.img:hover {
    transform: scale(1.1, 1.1);
}

.hulk {
    border-radius: 6px;
    position: relative;
    left: 25%;
    margin-top: 15px;
}

.ironman2 {
    position: relative;
    left: 25%;
    margin-top: 15px;
}

.thor {
    position: relative;
    left: 25%;
}

.capitan {
    position: relative;
    left: 25%;
}

.losvengadores {
    position: relative;
    left: 25%;
}

footer {
    background-color: rgba(0, 0, 0, 0.705);
    text-align: center;
    box-shadow: rgb(255, 255, 255) 1px 5px 25px;
    position: absolute;
    bottom: 0;
}

.redes li {
    display: inline-block;
}


/*pagina ironman*/

.ironmanPagina2 img {
    font-size: 16px;
    line-height: 1.7;
    float: right;
    margin-right: 5px;
    margin-left: 4px;
    box-shadow: black 1px 5px 25px;
    border-radius: 6px;
}

.repartoIron {
    width: 60%;
    height: 40%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(1, 2fr);
    gap: 20px;
    position: relative;
    left: 5%;
}

.multimedia {
    position: relative;
    left: 25%;
    border: solid #34495E 3px;
}


/*barra de navegacion*/

@media screen and (max-width: 420px) {
    nav {
        background-color: rgba(0, 0, 0, 0.705);
        text-align: center;
        box-shadow: rgba(231, 9, 9, 0) 1px 5px 25px;
    }
    .menu {
        background-color: rgba(0, 0, 0, 0);
        font-size: 20px;
        font-family: 'Oswald', sans-serif;
        flex-direction: column;
    }
    .menu li {
        text-align: center;
    }
    .menu li a {
        text-decoration: none;
        color: rgb(255, 255, 255);
    }
    .menu li a:hover {
        color: rgb(255, 255, 255);
        background-color: rgba(247, 8, 8, 0);
        border-radius: 60%;
        border: rgba(224, 0, 0, 0) solid;
        box-shadow: rgba(255, 255, 255, 0) 1px 5px 25px;
    }
}


/*main*/

@media screen and (max-width: 420px) {
    .medioFondo {
        background-color: rgba(44, 44, 44, 0.651);
        width: 85%;
        margin: auto;
        padding: auto;
        box-shadow: rgba(255, 0, 0, 0) 1px 5px 25px;
        border-radius: 6px;
    }
}

@media screen and (max-width: 420px) {
    .medio {
        grid-template-columns: 1fr;
        grid-template-rows: repeat( 6, 1fr);
    }
}


/*multimedia*/

@media screen and (max-width:420px) {
    .multimedia {
        width: 375px;
        position: relative;
        left: 5%;
    }
}


/*footer*/

@media screen and (max-width: 420px) {
    footer {
        background-color: rgba(0, 0, 0, 0.705);
        text-align: center;
        box-shadow: rgba(255, 0, 0, 0) 1px 5px 25px;
        padding: 15px;
    }
}